@page "/staffs/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h2 class="card-title">Add Staff</h2>
<hr />
<br />

<FormComponent ButtonText="Add Staff" staff="staff" OnValidSubmit="@CreateStaff" />

@code {
    Staff staff = new Staff();

    private async Task CreateStaff()
    {
        await _client.PostAsJsonAsync(Endpoints.StaffsEndpoint, staff);
        _navManager.NavigateTo("/staffs/");
    }

}
