@page "/books/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Edit Book</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditBook" book="book" />

@code {
    [Parameter] public int id { get; set; }
    Book? book = new Book();

    protected async override Task OnParametersSetAsync()
    {
        book = await _client.GetFromJsonAsync<Book>($"{Endpoints.BooksEndpoint}/{id}");
    }

    async Task EditBook()
    {
        await _client.PutAsJsonAsync($"{Endpoints.BooksEndpoint}/{id}", book);
        _navManager.NavigateTo("/books/");
    }
}
