.oi {
    width: 2rem;
    font-size: 1.0rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 1.0rem;
    letter-spacing: 1px;
    padding: 3px 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Optional: Add a smooth transition effect */
}


    .nav-item ::deep a {
        border-radius: 10px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        color: antiquewhite;
    }

        .nav-item ::deep a.active {
            background-color: #D8C4B6;
            color: #1d3357;
        }

        .nav-item ::deep a:hover {
            background-color: #D8C4B6;
            color: #1d3357;
        }

