@inject NavigationManager Navigation

<div class="top-row navbar">
    <div class="container-fluid">
        <div class="d-flex flex-row">
            <a class="navbar-brand" href="">Project</a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                <ul class="navbar-nav mb-0 close">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </li>
                    <!--
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="counter">
                            <span class="oi oi-plus" aria-hidden="true"></span> Counter
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="fetchdata">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Topic
                        </NavLink>
                    </li>
                    -->

                    <!--Drop down menu-->
                    <!--
                    <li class="nav-item dropdown px-3">
                        <NavLink class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </NavLink>
                        <ul class="dropdown-menu">
                            <li>
                                <NavLink class="dropdown-item" href="#">Math</NavLink>
                            </li>
                            <li>
                                <NavLink class="dropdown-item" href="#">Science</NavLink>
                            </li>
                            <li>
                                <NavLink class="dropdown-item" href="#">English</NavLink>
                            </li>
                        </ul>
                    </li>
                    -->
                    <!--
                        <li class="nav-item px-3">
                        <NavLink class="nav-link" href="englishbook">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> English Book
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="physicsbook">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Physics Book
                        </NavLink>
                    </li>
                    -->
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="staffs">
                            <span class="oi oi-person" aria-hidden="true"></span> Manage Staffs
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="publishers">
                            <span class="oi oi-person" aria-hidden="true"></span> Manage Publishers
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="recommendations">
                            <span class="oi oi-person" aria-hidden="true"></span> Manage Recommendations
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="books">
                            <span class="oi oi-person" aria-hidden="true"></span> Manage Books
                        </NavLink>
                    </li>
                </ul>
            </div>


        </div>
        <div class="d-flex flex-row-reverse">
            <LoginDisplay />
        </div>
    </div>
</div>



@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void BeginLogOut(MouseEventArgs args)
    {
        Navigation.NavigateToLogout("authentication/logout", "/");
    }
}
