@inject NavigationManager Navigation

<head>
    <style>
        .navBrand {
            position:absolute;
            top: 0;
            display: block; 
            padding: 15px; 
            margin-top: 10px;
            text-decoration: none;
            color: antiquewhite; 
            background-color: #213555;
            border-radius: 10px;
            font-weight: 600;
            font-size: 1.0rem;
        }

        .oi {
            width: 2rem;
            font-size: 1.0rem;
            top: -2px;
        }

        .dropdown-btn {
            display: inline-block;
            padding: 12px 12px;
            margin-left: 8px;
            font-size: 1.0rem;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            border: 1px solid #213555; /* Border color */
            color: antiquewhite; /* Text color */
            background-color: #213555; /* Background color */
            border-radius: 10px; /* Add rounded corners */
            transition: background-color 0.3s ease, color 0.3s ease; /* Add a smooth transition effect */
        }

            /* Hover effect */
            .dropdown-btn:hover {
                background-color: #D8C4B6;
                color: #1d3357;
            }

            /* Active effect */
            .dropdown-btn:active {
                background-color: #D8C4B6;
                color: #1d3357;
            }

        .clickable-ul {
            list-style: none; /* Remove default list item styling */
            padding: 0; /* Remove default padding */
            border: 1px solid #000; 
            background-color: #213555;
            border-radius: 10px;
            margin-left: 8px;
        }

            .clickable-ul li {
                margin: 0; /* Remove default margin */
            }

                .clickable-ul li .nav-link {
                    display: block; /* Make the link a block element */
                    padding: 10px; /* Add padding for visual clarity and hit area */
                    text-decoration: none; /* Remove default underline */
                    color: antiquewhite; /* Set the text color */
                    background-color: #213555;
                    border-radius: 10px;
                    font-weight: 600;
                }

                    .clickable-ul li .nav-link:hover {
                        background-color: #D8C4B6; /* Change background color on hover for visual feedback */
                        color: #1d3357;
                    }

                    .clickable-ul li .nav-link:active {
                        background-color: #D8C4B6;
                        color: #213555;
                    }

    </style>
</head>


<div class="top-row navbar">
    <div class="container-fluid">
        <div class="d-flex">
            <div class="nav-item px-3">
                <a class="navBrand" href="">
                    <span class="oi oi-home" aria-hidden="true"></span> AR Reviews
                </a>
            </div>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <ul class="navbar-nav mb-0 close">
                <li>
                    <!-- Apply ml-auto to push this div to the right -->
                    <div class="d-flex justify-content-end">
                        <div class="dropdown-div">
                            <button class="dropdown-btn" @onclick="ToggleDropdown">
                                <span class="oi oi-caret-bottom" aria-hidden="true"></span> Manage CRUD
                            </button>
                            @if (showDropdown)
                            {
                                <ul class="clickable-ul">
                                    <li>
                                        <NavLink class="nav-link" href="appUsers" @onclick="ToggleDropdown" Match="NavLinkMatch.All">
                                            App Users
                                        </NavLink>
                                    </li>
                                    <li>
                                        <NavLink class="nav-link" href="authors" @onclick="ToggleDropdown" Match="NavLinkMatch.All">
                                            Authors
                                        </NavLink>
                                    </li>
                                    <li>
                                        <NavLink class="nav-link" href="books" @onclick="ToggleDropdown" Match="NavLinkMatch.All">
                                            Books
                                        </NavLink>
                                    </li>
                                    <li>
                                        <NavLink class="nav-link" href="bookAuthorDetails" @onclick="ToggleDropdown" Match="NavLinkMatch.All">
                                            Book Author Details
                                        </NavLink>
                                    </li>
                                    <li>
                                        <NavLink class="nav-link" href="publishers" @onclick="ToggleDropdown" Match="NavLinkMatch.All">
                                            Publishers
                                        </NavLink>
                                    </li>
                                    <li>
                                        <NavLink class="nav-link" href="staffs" @onclick="ToggleDropdown" Match="NavLinkMatch.All">
                                            Staffs
                                        </NavLink>
                                    </li>
                                    <li>
                                        <NavLink class="nav-link" href="reviews" @onclick="ToggleDropdown" Match="NavLinkMatch.All">
                                            Reviews
                                        </NavLink>
                                    </li>
                                </ul>
                            }
                        </div>
                        <LoginDisplay />
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>



@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void BeginLogOut(MouseEventArgs args)
    {
        Navigation.NavigateToLogout("authentication/logout", "/");
    }

    private bool showDropdown = false;

    private void ToggleDropdown()
    {
        showDropdown = !showDropdown;
    }
}