@page "/reviews/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h2 class="card-title">Create New Review</h2>
<hr />
<br />

<FormComponent ButtonText="Create Review" review="review" OnValidSubmit="@CreateReview" />


@code {
    Review review = new Review();

    private IList<AppUser>? AppUsers;
    private IList<Book>? Books;

    protected async override Task OnInitializedAsync()
    {
        AppUsers = await _client.GetFromJsonAsync<List<AppUser>>($"{Endpoints.AppUsersEndpoint}");
        Books = await _client.GetFromJsonAsync<List<Book>>($"{Endpoints.BooksEndpoint}");
    }

    private async Task CreateReview()
    {
        await _client.PostAsJsonAsync(Endpoints.ReviewsEndpoint, review);
        _navManager.NavigateTo("/reviews/");
    }
}