@page "/reviews/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h2 class="card-title">View Reviews</h2>

<FormComponent review="review" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }
    Review? review = new Review();
    protected async override Task OnParametersSetAsync()
    {
        review = await _client.GetFromJsonAsync<Review>($"{Endpoints.ReviewsEndpoint}/{id}");
    }
}