@page "/recommendations/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Edit Recommendation</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditRecommendation" recommendation="recommendation" />

@code {
    [Parameter] public int id { get; set; }
    Recommendation? recommendation = new Recommendation();

    protected async override Task OnParametersSetAsync()
    {
        recommendation = await _client.GetFromJsonAsync<Recommendation>($"{Endpoints.RecommendationsEndpoint}/{id}");
    }

    async Task EditRecommendation()
    {
        await _client.PutAsJsonAsync($"{Endpoints.RecommendationsEndpoint}/{id}", recommendation);
        _navManager.NavigateTo("/recommendations/");
    }
}
