.container {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

hr {
    width: 80%; /* Shortens the line to half the page width */
    margin: 0 auto; /* Centers the line horizontally */
    border: 0; /* Removes the default border for styling flexibility */
    border-top: 3px solid #D8C4B6;
}
