@page "/authors/create/"
@using Project.Client.Static
@inject HttpClient _client
@inject NavigationManager _navManager

<h2 class="card-title">Add New Author</h2>
<hr />
<br />

<FormComponent ButtonText="Add Author" author="author" OnValidSubmit="@CreateAuthor" />


@code {
    Author author = new Author();

    private async Task CreateAuthor()
    {
        await _client.PostAsJsonAsync(Endpoints.AuthorsEndpoint, author);
        _navManager.NavigateTo("/authors/");
    }

}