@page "/catalog"
<style>
    body {
        font-family: Arial, sans-serif;
    }
    h1{
        text-align:center
    }
    .product-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 400px;
        margin: 0 auto;
    }

    .product {
        flex: 1;
        text-align: center;
        height: 300px;
        overflow: hidden;
    }

    .product img {
        flex: 1;
        max-width: 100%;
        height: auto;
        align-content:center
    }

    .product-title {
        margin-top: 10px;
        font-size: 14px;
    }
</style>
<PageTitle>Catalog</PageTitle>
<h1>Book Catalog Page</h1>
<div class="product-container">
  <!-- Product 1 -->
  <div class="product">
        <img src="https://popularonline.com.sg/cdn/shop/files/O_NLevelAtYourFingertipsSciencePhysics.jpg?v=1698634470" alt="Product Image">
        <div class="product-title"><a href="physicsbook">Physics Book</a></div>
  </div>

  <!-- Product 2 -->
  <div class="product">
        <img src="https://popularonline.com.sg/cdn/shop/files/ExpressS2EngExamPrac9789815133011.jpg?v=1689325289" alt="Product Image">
        <div class="product-title"><a href="englishbook">English Book</a></div>
  </div>
</div>
@code {

}
