@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<div>
    <form class="search">
        <input type="text" placeholder="Search for Books" class="search-input">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>
<br />
<hr />
<h1>Popular Books</h1>
<div class="product-container">
    <!-- Product 1 -->
    <div class="product">
        <img src="https://popularonline.com.sg/cdn/shop/files/O_NLevelAtYourFingertipsSciencePhysics.jpg?v=1698634470" alt="Product Image">
        <div class="product-title"><a href="physicsbook">Physics Book</a></div>
    </div>

    <!-- Product 2 -->
    <div class="product">
        <img src="https://popularonline.com.sg/cdn/shop/files/ExpressS2EngExamPrac9789815133011.jpg?v=1689325289" alt="Product Image">
        <div class="product-title"><a href="englishbook">English Book</a></div>
    </div>
</div>

