@page "/appUsers/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h2 class="card-title">Add AppUser</h2>
<hr />
<br />

<FormComponent ButtonText="Add AppUser" appUser="appUser" OnValidSubmit="@CreateAppUser" />


@code {
    AppUser appUser = new AppUser();

    private async Task CreateAppUser()
    {
        await _client.PostAsJsonAsync(Endpoints.AppUsersEndpoint, appUser);
        _navManager.NavigateTo("/appUsers/");
    }

}