@page "/appUsers/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h2 class="card-title">Edit AppUser</h2>

<FormComponent ButtonText="Update" OnValidSubmit="EditAppUser" appUser="appUser" />

@code {
    [Parameter] public int id { get; set; }
    AppUser? appUser = new AppUser();

    protected async override Task OnParametersSetAsync()
    {
        appUser = await _client.GetFromJsonAsync<AppUser>($"{Endpoints.AppUsersEndpoint}/{id}");
    }

    async Task EditAppUser()
    {
        await _client.PutAsJsonAsync($"{Endpoints.AppUsersEndpoint}/{id}", appUser);
        _navManager.NavigateTo("/appUsers/");
    }
}
