@page "/appUsers/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h2 class="card-title">View App Users</h2>

<FormComponent appUser="appUser" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }
    AppUser? appUser = new AppUser();
    protected async override Task OnParametersSetAsync()
    {
        appUser = await _client.GetFromJsonAsync<AppUser>($"{Endpoints.AppUsersEndpoint}/{id}");
    }
}