@page "/bookAuthorDetails/create/"
@using Project.Client.Static
@inject HttpClient _client
@inject NavigationManager _navManager

<h2 class="card-title">Create New BookAuthorDetail</h2>
<hr />
<br />

<FormComponent ButtonText="Add BookAuthorDetail" bookAuthorDetail="bookAuthorDetail" OnValidSubmit="@CreateBookAuthorDetail" />


@code {
    BookAuthorDetail bookAuthorDetail = new BookAuthorDetail();

    private IList<Author>? Authors;
    private IList<Book>? Books;

    protected async override Task OnInitializedAsync()
    {
        Authors = await _client.GetFromJsonAsync<List<Author>>($"{Endpoints.AuthorsEndpoint}");
        Books = await _client.GetFromJsonAsync<List<Book>>($"{Endpoints.BooksEndpoint}");
    }
    private async Task CreateBookAuthorDetail()
    {
        await _client.PostAsJsonAsync(Endpoints.BookAuthorDetailsEndpoint, bookAuthorDetail);
        _navManager.NavigateTo("/bookAuthorDetails/");
    }
}