@page "/bookAuthorDetails/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h2 class="card-title">View Book Author Details</h2>

<FormComponent bookAuthorDetail="bookAuthorDetail" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }
    BookAuthorDetail? bookAuthorDetail = new BookAuthorDetail();
    protected async override Task OnParametersSetAsync()
    {
        bookAuthorDetail = await _client.GetFromJsonAsync<BookAuthorDetail>($"{Endpoints.BookAuthorDetailsEndpoint}/{id}");
    }
}